body {
  font-family: sans-serif;
  margin: auto 10% 5%;
  background-color: deepskyblue;
}

#app {
  background-color: aliceblue;
  padding: 10%;
}

#modules {
  width: 25%;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.center-text {
  text-align: center;
}

.contact-me {
  padding: 10% 10%;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-margin {
  margin: 0% 15%;
}

h3,
h4 {
  text-align: center;
}

header {
  font-family: garamond, sans-serif;
  font-weight: bold;
  position: sticky;
  overflow: auto;
}

li {
  position: relative;
  margin: 1% auto;
  padding: 2%;
}
