body {
  font-family: sans-serif;
  margin: auto 50px;
  background-color: deepskyblue;
}

#app {
  background-color: aliceblue;
  padding: 50px;
}

#modules {
  width: 250px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.center-text {
  text-align: center;
}

.contact-me {
  padding: 0px 100px;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3,
h4 {
  text-align: center;
}

header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  position: sticky;
  overflow: auto;
}

li {
  position: relative;
  margin: 15px auto;
  padding: 10px;
}
